.search-results {
    padding: 20px;
    border-radius: 8px;
}

.slick-slide {
    margin: 0 10px;
    transition: all 0.3s ease;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slick-prev:before,
.slick-next:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.slick-next:before {
    transform: rotate(45deg);
}

.slick-prev:before {
    transform: rotate(225deg);
}


.search-results.dark-theme {
    background-color: rgba(0, 0, 0, 0.82);
}

.slick-prev,
.slick-next {
    background-color: rgba(255, 0, 0, 0.55);
}

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(100, 9, 9, 0.89);
}


.search-results.light-theme {
    background-color: rgba(205, 203, 197, 0.86);
}

