@media (max-width: 768px) {
    .movie-card {
        width: 100%;
    }

    .movie-listing {
        justify-content: center;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .movie-card {
        width: calc(50% - 1rem);
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .movie-card {
        width: calc(33.33% - 1rem);
    }
}

@media (min-width: 1441px) {
    .movie-card {
        width: calc(20% - 1rem);
    }
}


.movieByGenre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;

}

.movieByGenre .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.movieByGenre .pagination .pagination-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    margin: 10px;
}

.movieByGenre .pagination .pagination-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transform: skewX(-30deg);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: -1;
}

.movieByGenre .pagination .pagination-button:hover::before {
    left: 100%;
}

.movieByGenre .pagination .pagination-button:hover {
    transform: scale(1.05);
}


.movieByGenre.dark-theme .pagination .pagination-button {
    background-color: rgba(128, 6, 6, 0.84);
    color: #d7e6f4;
}

.movieByGenre.dark-theme .pagination .pagination-button::before {
    background-color: rgba(255, 255, 255, 0.3);
}


.movieByGenre.light-theme .pagination .pagination-button {
    background-color: rgba(219, 74, 74, 0.91);
    color: #d7e6f4;
}

.movieByGenre.light-theme .pagination .pagination-button::before {
    background-color: rgba(0, 0, 0, 0.3);
}

.movieByGenre.light-theme {
    background-color: rgba(205, 203, 197, 0.82);
}