.home {
    background-image: url(../../assets/poster.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
}
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    align-items: center;
}

.search input[type="text"] {
    padding: 10px;
    border-radius: 30px;
    font-size: 18px;
    font-family: Arial;
    outline: none;
    width: 70vh;
    height: 45px;
    background: rgba(255, 255, 255, 0.89);
    box-shadow: 0 0 5px white;
    border: solid white 1px;
}

/*.search input[type="text"]:hover {*/
/*    animation: wave 2.5s;*/
/*}*/
/*@keyframes wave {*/
/*    0% {*/
/*        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.85);*/
/*    }*/
/*    30% {*/
/*        box-shadow: 0 0 0 40vw rgba(255, 0, 0, 0.19);*/
/*    }*/
/*    100% {*/
/*        box-shadow: 0 0 0 80vw rgba(255, 235, 0, 0);*/
/*    }*/
/*}*/

.search input[type="text"].clicked {
    animation: wave 2.5s;
}

@keyframes wave {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.85);
    }
    30% {
        box-shadow: 0 0 0 40vw rgba(255, 0, 0, 0.19);
    }
    100% {
        box-shadow: 0 0 0 80vw rgba(255, 235, 0, 0);
    }
}
.search input[type="text"].focused {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85);
    transition: box-shadow 0.3s ease;
}

.search input[type="text"].focused:hover {
    box-shadow: 0 0 0 40vw rgba(255, 0, 0, 0.19);
}


.search-results {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.search-results div {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vh;
    flex-direction: row;
    height: 400px;
}

.movie-poster2 {
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 0px 5px rgba(230, 11, 11, 0.75);
    transition: transform 0.3s ease;
    margin: 10px;
}
.movie-poster2.light-theme {
    box-shadow: 0 0px 5px rgba(22, 22, 22, 0.75);
}
.movie-poster2:hover {
    transform: scale(1.05);
}

.resultsDiv {
    flex-direction: column;
}

@media (max-width: 480px) {

    .search input[type="text"] {
        width: 320px;
        height: 40px;
    }

}
@media (min-width: 480px) and (max-width: 768px) {
    .search input[type="text"] {
        width: 600px;
        height: 40px;
    }

}
