@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.home {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 97vh;
    overflow: hidden;
    justify-content: center;
    background-color: rgba(8, 8, 8, 0.95);
    /*padding-bottom: 70px;*/
    padding-top: 50px;
}
.popular {
    color: white;
    font-size: 18px;
    font-family: Arial;

}

.home.light-theme {
    background-color: rgba(130, 127, 127, 0.92);
}

.header-home h1 {
    color: rgba(255, 255, 255, 0.84);
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 70px;
}
.poster-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.search {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.search input[type="text"] {
    padding: 10px;
    border-radius: 30px;
    font-size: 18px;
    font-family: Arial;
    outline: none;
    width: 75vh;
    height: 43px;
    background: rgba(255, 255, 255, 0.95);
    border: solid white 1px;
}

.input-div {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.knuckle img {
    height: 100px;
}

.input-div:hover,
.input-div:active {
    animation: wave 2s cubic-bezier(0.25, 0.1, 0.25, 1);
    border-radius: 30px;
}

@keyframes wave {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.85);
    }
    30% {
        box-shadow: 0 0 0 30vw rgba(255, 0, 0, 0.19);
    }
    100% {
        box-shadow: 0 0 0 60vw rgba(255, 235, 0, 0);
    }
}

.search-results {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.search-results div {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vh;
    flex-direction: row;
    height: fit-content;
}

.movie-poster2 {
    height: 350px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 2px white;
}
.movie-poster2.light-theme {
    box-shadow: 0 0px 5px rgba(22, 22, 22, 0.75);
}
.movie-poster2:hover {
    transform: scale(1.05);
}

.resultsDiv {
    flex-direction: column;
}

@media (max-width: 480px) {
  .home {
      padding-bottom: 50px;
      min-height: fit-content;
  }
    .search input[type="text"] {
        width: 250px;
        height: 40px;
    }

    .header-home h1 {
        margin-bottom: 20px;
        font-size: 22px;
        margin-top: 50px;

    }
    .knuckle img {
        height: 80px;
    }
 .movie-poster2 {
     height: 270px;
 }

}
@media (min-width: 480px) and (max-width: 768px) {
    .search input[type="text"] {
        width: 350px;
        height: 40px;
    }
    .header-home h1 {
        margin-bottom: 20px;
    }
    .home {
        min-height: fit-content;
    }
    .movie-poster2 {
        height: 250px;
    }
    .header-home h1 {
        margin-bottom: 50px;
        font-size: 30px;
        margin-top: 100px;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    .home {
        min-height: fit-content;
    }
    .movie-poster2 {
        height: 250px;
    }
    .search input[type="text"] {
        width: 500px;
        height: 40px;
    }
    .header-home h1 {
        margin-bottom: 20px;
        font-size: 30px;
        margin-top: 100px;
    }

    .knuckle img {
        height: 80px;
    }

}

@media (min-width: 1025px) and (max-width: 1440px) {
    .home {
        min-height: fit-content;
    }
    .movie-poster2 {
        height: 250px;
    }
    .search input[type="text"] {
        width: 500px;
        height: 40px;
    }
    .header-home h1 {
        margin-bottom: 20px;
        font-size: 50px;
    }
    .knuckle img {
        height: 80px;
    }
}

@media (min-width: 1441px )  and (max-width: 1799px){
    .home {
        min-height: fit-content;
    }
    .movie-poster2 {
        height: 300px;
    }
    .search input[type="text"] {
        width: 500px;
        height: 40px;
    }
    .header-home h1 {
        margin-bottom: 20px;
        font-size: 45px;
        margin-top: 70px;
    }
    .input-container {
        margin: 0;
    }
}
@media (min-width: 1800px) {
    .movie-poster2 {
        height: 500px;
    }
    .header-home h1 {
        margin-bottom: 20px;
    }
}