
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out, background-color 0.3s ease;
  height: 80px;
  display: flex;
  justify-content: space-around;
}

.header:hover {
  background-color: rgba(1, 9, 33, 0.56);
  animation: shine 1s linear infinite;
}

.header.visible {
  transform: translateY(0);
}


.header.light-theme {
  background-color: rgba(205, 203, 197, 0.52);
  color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header.light-theme:hover {
  background-color: rgba(205, 203, 197, 0.82);
  animation: none;
}

.header.light-theme .showAllMovies {
  background-color: rgba(219, 74, 74, 0.91);
  color: #d7e6f4;
}

.header.light-theme .showAllMovies::before {
  background-color: rgba(255, 255, 255, 0.3);
}


.header.dark-theme {
  background-color: rgba(32, 35, 38, 0.53);
  color: rgba(168, 214, 235, 0.55);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header.dark-theme:hover {
  background-color: rgba(1, 9, 33, 0.56);
  animation: shine 1s linear infinite;
}

.header.dark-theme .showAllMovies {
  background-color: rgba(198, 21, 21, 0.86);
  color: #d7e6f4;
}

.header.dark-theme .showAllMovies::before {
  background-color: rgba(255, 255, 255, 0.3);
}


.showAllMovies {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.showAllMovies::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transform: skewX(-30deg);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: -1;
}

.showAllMovies:hover::before {
  left: 100%;
}

.showAllMovies:hover {
  transform: scale(1.05);
}

@keyframes shine {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.themeToggle {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  position: fixed;

  right: 30px;
}

.themeToggle.light-theme {
  background-color: #f0f0f0;
  color: #000;
}

.themeToggle.light-theme:hover {
  background-color: #ccc;
}

.themeToggle.dark-theme {
  background-color: #333;
  color: #fff;
}

.themeToggle.dark-theme:hover {
  background-color: #555;
}
